<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% if page.title %}{{ page.title | escape }} &mdash; {% endif %}{{ site.title | escape }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Central stylesheet. Out of date -->
  <!-- <link rel="stylesheet" href="{{ '/assets/style-common.css' | relative_url }}"> -->

  <!-- Agency font. Deprecated, probably -->
  <!--<link rel="stylesheet" href="{{ '/assets/agency-font.css' | relative_url }}">-->

  <!-- Pace.JS - loading page lmao - load early as possible -->
  <!--<script> paceOptions = {'startOnPageLoad' : false, 'ajax' : false, 'lagThreshold' : 3, 'ghostTime': 0, 'catchupTime': 50, 'minTime': 20, 'maxProgressPerFrame': 50} </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
  <link rel="stylesheet" href="{{ '/assets/pace-theme.css' | relative_url }}">-->

  <!-- Jquery -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <!-- Google fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Inconsolata">

  <!-- Font Awesome, for Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
