<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {% if page.permalink == '/' %}{% assign active = true %}{% endif %}
  <a class="navbar-brand" href="{{ '/' | relative_url }}">CMU Scioly {% if active %} <span class="sr-only">(current)</span>{% endif %}</a>
  {% assign active = nil %}

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for item in site.navigation %}
      {% if page.permalink == item.permalink %}{% assign active = true %}{% endif %}
      <li class="nav-item{% if active %} active{% endif %}">
        <a class="nav-link" href="{{ item.permalink | relative_url }}">{{ item.title }}{% if active %} <span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      {% assign active = nil %}
      {% endfor %}
    </ul>
  </div>
</nav>


<nav class="navbar navbar-expand-md navbar-dark" id="top-bar">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

    <div class="mx-auto order-0">
      <li class="nav-item my-nav-item">
        <a class="nav-link" href="#" style="color: red;">Home</a>
      </li>
      <li class="nav-item my-nav-item">
        <a class="nav-link" href="#" style="color: red;">About</a>
      </li>
      <li class="nav-item my-nav-item">
        <a class="nav-link" href="#" style="color: red;">Tournament Information</a>
      </li>
      <li class="nav-item my-nav-item">
        <a class="nav-link" href="#" style="color: red;">Registration</a>
      </li>
    </div>
</nav>
