---
layout: default
---
<style>

  body.pace-running::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1500;
    background-color: rgba(255, 255, 255, 1);
  }

  #holder {
    background-image: url("{{ '/assets/back-strip.jpg' | relative_url }}");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s;
  }

  h1#cmu-scioly-header {
    font-family: 'Montserrat', arial;
    font-weight: bold;
    text-align: center;
    /*text-shadow: 2px 2px 0 rgba(196, 4, 5, 0.3);*/
    margin-top: 4%;
    color: #C40405;
  }
  #event-date {
    text-align: center;
    font-variant: small-caps;
    color: #C40405;
  }
  #register-button {
    text-transform: uppercase;
    margin-top: 1em;
    background-color: #C40405;
    margin-bottom: 50px;
  }
  #register-button:hover {
    background-color: #960303;
  }
  #everything {
    text-align: center;
  }
</style>

<script> Pace.start() ;
Pace.on("done", function() {
  $("#holder").css("opacity", "1");
});
</script>

{{ content }}
